

.btn-hover{
    @apply relative;
}

.btn-hover::after{
    @apply content-[''] bg-cyan1 h-[5px] w-[0%] left-[0%] -bottom-[6px] absolute rounded-xl duration-300;
}

.btn-hover:hover::after{
    @apply w-[100%];
}

.btn-hover1{
  @apply relative;
}

.btn-hover1::after{
  @apply content-[''] bg-cyan1 h-[5px] w-[0%] left-[0%] -bottom-[6px] absolute rounded-xl duration-300;
}

.btn-hover1:hover::after{
  @apply w-[100%];
}

.navlink{
  @apply active:scale-[.95]
}

.bn5 {
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ecfeff,
    #a5f3fc,
    #67e8f9,
    #22d3ee,
    #06b6d4,
    #0891b2,
    #0e7490,
    #ecfeff,
    #a5f3fc,
    #67e8f9,
    #06b6d4,
    #0891b2,
    #ecfeff,
    #ecfeff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
}